RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^logout$ logout.php [QSA]
RewriteRule ^dashboard$ dashboard.php [QSA]
RewriteRule ^seleccionar-encuestas$ selectSurveys.php [QSA]
RewriteRule ^resultados-encuestas$ resultSurveys.php [QSA]
RewriteRule ^gestionar-usuarios$ manageUsers.php [QSA]
RewriteRule ^agregar-usuario$ addUser.php [QSA]
RewriteRule ^configuraciones$ settings.php [QSA]
RewriteRule ^impresoras$ managePrinters.php [QSA]

#Options -Indexes